<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <variable name="projectName" value="logs"/>
    <variable name="currentDirectory" value="/${projectName}/${shortdate}"/>
    <targets>
        <target name="oracle"
                    xsi:type="database"
                    useTransactions="false"
                    keepConnection="true">
            <dbprovider>System.Data.OracleClient.OracleConnection,System.Data.OracleClient, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=b77a5c561934e089</dbprovider>
            <connectionstring>
                Data Source=xxx;User ID=xxx;Password=xxx;
            </connectionstring>
            <commandText>
                Insert into SysLog(id,createTime,message,loglevel,stacktrace,callsite)values(s_syslog.nextval,sysdate,:message,:loglevel,:stacktrace,:callsite)
            </commandText>
            <parameter name="message" layout="${message}" />
            <parameter name="loglevel" layout="${level}" />
            <parameter name="stacktrace" layout="${stacktrace}" />
            <parameter name ="callsite" layout="${callsite}"/>
        </target>
        <target name="console" xsi:type ="Console" />
        <target name="debugger" xsi:type="Debugger" layout="${date:format=HH\:mm\:ss.fff}: ${message}" />
        <target name="error_file" xsi:type="File"
                        fileName="${basedir}/${currentDirectory}/${shortdate}01.txt" maxArchiveFiles="30"
                        layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
        <target name="info" xsi:type="File"
                        fileName="${basedir}/${currentDirectory}/${shortdate}01.txt" maxArchiveFiles="30"
                    layout="${longdate} | ${level:uppercase=false} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}" />
    </targets>
    <rules>
        <logger name="*" writeTo="console" />
        <logger name="*" minlevel="Info"  writeTo="oracle"/>
        <!--<logger name="*" minlevel="Debug" writeTo="debugger" />-->
        <logger name="*" minlevel="Error" writeTo="error_file" />
        <logger name="*" level="Info" writeTo="info" />
    </rules>
</nlog>